<kyee-header></kyee-header>
<div class="body-box">
  <kyee-sidebar></kyee-sidebar>
  <div class="main-body">
    <h3>请填写如下转诊单</h3>

    <!-- 查询条件 -->
    <!-- <section class="section">
      <fieldset>
        <legend>查询条件</legend>
        <div nz-row>
          <div nz-col nzSpan="8">
            <span class="search_label">患者编号：</span><input nz-input placeholder="请输入HIS编号" [(ngModel)]="searchInfo.patientNo"
              style="width:60%">
          </div>
          <div nz-col nzSpan="8">
            <span class="search_label">身份证号：</span><input nz-input placeholder="请输入身份证号" [(ngModel)]="searchInfo.userID"
              style="width:60%">
          </div>
          <div nz-col nzSpan="8">
            <span class="search_label">病案号：</span><input nz-input placeholder="请输入病案号" [(ngModel)]="searchInfo.patientID"
              style="width:60%">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="8">
            <span class="search_label">住院号：</span><input nz-input placeholder="请输入住院号" [(ngModel)]="searchInfo.hospitalNo"
              style="width:60%">
          </div>
          <div nz-col nzSpan="8">
            <span class="search_label">门诊号：</span><input nz-input placeholder="请输入门诊号" [(ngModel)]="searchInfo.clinicID"
              style="width:60%">
          </div>
          <div nz-col nzSpan="8">
            <button nz-button nzType="primary" style="margin-left:60px;"><i nz-icon type="search"></i>查询</button>
          </div>
        </div>
      </fieldset>
    </section> -->

    <!-- 患者基本信息 -->
    <section class="section">
      <fieldset>
        <legend>患者信息</legend>
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="search_label" style="color:red">＊姓名：</span>
            <input nz-input placeholder="请输入患者姓名（必填）" [(ngModel)]="userInfo.patientName" [disabled]="disabled" style="width:60%">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">年龄：</span>
            <input nz-input [(ngModel)]="userInfo.age" style="width:300px" [disabled]="disabled">
            <nz-select style="width: 80px;" [(ngModel)]="userInfo.ageType" nzPlaceHolder="类型" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="岁"></nz-option>
              <nz-option nzValue="1" nzLabel="月"></nz-option>
              <nz-option nzValue="2" nzLabel="天"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">患者ID：</span><input nz-input [(ngModel)]="userInfo.patientNo" [disabled]="disabled"
              style="width:60%">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">证件ID：</span>
            <nz-select style="width: 120px;" [(ngModel)]="userInfo.idType" nzPlaceHolder="证件类型" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="身份证"></nz-option>
              <nz-option nzValue="1" nzLabel="港澳通行证"></nz-option>
              <nz-option nzValue="2" nzLabel="台湾通行证"></nz-option>
              <nz-option nzValue="3" nzLabel="护照"></nz-option>
            </nz-select>
            <input nz-input [(ngModel)]="userInfo.userID" [disabled]="disabled" style="width:260px">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">性别：</span>
            <nz-radio-group [(ngModel)]="userInfo.sex" [nzDisabled]="disabled">
              <label nz-radio nzValue="1">男</label>
              <label nz-radio nzValue="0">女</label>
              <label nz-radio nzValue="X">其他</label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">出生日期：</span>
            <nz-date-picker [(ngModel)]="userInfo.birthday" (ngModelChange)="onChange($event)" [nzDisabled]="disabled"></nz-date-picker>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">电话号码：</span>
            <input nz-input [(ngModel)]="userInfo.telephone" style="width:60%" [disabled]="disabled">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">家庭地址：</span>
            <input nz-input [(ngModel)]="userInfo.address" style="width:60%" [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">紧急联系人：</span>
            <input nz-input [(ngModel)]="userInfo.contactName" style="width:60%" [disabled]="disabled">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">紧急联系方式：</span>
            <input nz-input [(ngModel)]="userInfo.contactPhone" style="width:60%" [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">医保号：</span>
            <input nz-input [(ngModel)]="userInfo.medicalNo" style="width:60%" [disabled]="disabled">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">来源：</span>
            <nz-select style="width: 120px;" [(ngModel)]="userInfo.from" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="住院"></nz-option>
              <nz-option nzValue="1" nzLabel="门诊"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">住院号：</span>
            <input nz-input [(ngModel)]="userInfo.hospitalNo" style="width:60%" [disabled]="disabled">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label" style="color:red">＊门诊号：</span>
            <input nz-input [(ngModel)]="userInfo.clinicNo" style="width:60%" [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="12">
            <span class="search_label required">＊类别：</span>
            <nz-select style="width:60%" [(ngModel)]="patientMedicalInfo.applyType" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="住院"></nz-option>
              <nz-option nzValue="1" nzLabel="门诊"></nz-option>
              <nz-option nzValue="2" nzLabel="检查"></nz-option>
              <nz-option nzValue="3" nzLabel="检验"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">费用类别：</span>
            <nz-select style="width:60%" [(ngModel)]="patientMedicalInfo.costType" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="自费"></nz-option>
              <nz-option nzValue="1" nzLabel="农合"></nz-option>
              <nz-option nzValue="2" nzLabel="医保"></nz-option>
              <nz-option nzValue="3" nzLabel="职工医保"></nz-option>
              <nz-option nzValue="4" nzLabel="企业在职"></nz-option>
              <nz-option nzValue="5" nzLabel="新农合"></nz-option>
              <nz-option nzValue="6" nzLabel="工伤保险"></nz-option>
              <nz-option nzValue="7" nzLabel="医疗保险"></nz-option>
              <nz-option nzValue="8" nzLabel="其他"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">转诊原因：</span>
            <nz-select nzMode="tags" style="width: 80%;" [(ngModel)]="patientMedicalInfo.transferReason"
              [nzDisabled]="disabled">
              <nz-option *ngFor="let option of transferOptions" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">转诊目的：</span>
            <input nz-input [(ngModel)]="patientMedicalInfo.transferPurpose" style="width:80%"
              [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">既往史：</span>
            <input nz-input [(ngModel)]="patientMedicalInfo.history" style="width:80%"
              [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="24">
            <span class="search_label required">＊临床诊断：</span>
            <input nz-input [(ngModel)]="patientMedicalInfo.diagnose" style="width:80%"
              [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="24">
            <span class="search_label">病情自述：</span>
            <textarea nz-input [(ngModel)]="patientMedicalInfo.description" [nzAutosize]="{ minRows: 2, maxRows: 6 }"
              style="width:80%" [disabled]="disabled"></textarea>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="24">
            <span class="search_label">出院小结：</span>
            <textarea nz-input [(ngModel)]="patientMedicalInfo.summary" [nzAutosize]="{ minRows: 2, maxRows: 6 }"
              style="width:80%" [disabled]="disabled"></textarea>
          </div>
        </div>
      </fieldset>
    </section>

    <!-- 患者基本医疗信息 -->
    <!-- <section class="section">
      <fieldset>
        <legend>患者基本医疗信息</legend>
        <div nz-row>
          <div nz-col nzSpan="24">
            <span class="search_label required">＊诊断：</span>
            <input nz-input placeholder="请输入病人诊断，多个诊断的情况下，请用分号（；）隔开！" [(ngModel)]="patientMedicalInfo.diagnose" style="width:80%" [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="24">
            <span class="search_label">病情描述：</span>
            <textarea nz-input placeholder="请输入详细病情描述" [(ngModel)]="patientMedicalInfo.description" [nzAutosize]="{ minRows: 2, maxRows: 6 }" style="width:80%" [disabled]="disabled"></textarea>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="24">
            <span class="search_label">出院小结：</span>
            <textarea nz-input placeholder="请输入出院小结" [(ngModel)]="patientMedicalInfo.summary" [nzAutosize]="{ minRows: 2, maxRows: 6 }" style="width:80%"[disabled]="disabled" ></textarea>
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="12">
            <span class="search_label required">＊申请类别：</span>
            <nz-select style="width:60%" [(ngModel)]="patientMedicalInfo.applyType" nzPlaceHolder="选择申请类别" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="住院"></nz-option>
              <nz-option nzValue="1" nzLabel="门诊"></nz-option>
              <nz-option nzValue="2" nzLabel="检查"></nz-option>
              <nz-option nzValue="3" nzLabel="检验"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">费用类别：</span>
            <nz-select style="width:60%" [(ngModel)]="patientMedicalInfo.costType" nzPlaceHolder="选择费用类别" [nzDisabled]="disabled">
              <nz-option nzValue="0" nzLabel="自费"></nz-option>
              <nz-option nzValue="1" nzLabel="农合"></nz-option>
              <nz-option nzValue="2" nzLabel="医保"></nz-option>
              <nz-option nzValue="3" nzLabel="职工医保"></nz-option>
              <nz-option nzValue="4" nzLabel="企业在职"></nz-option>
              <nz-option nzValue="5" nzLabel="新农合"></nz-option>
              <nz-option nzValue="6" nzLabel="工伤保险"></nz-option>
              <nz-option nzValue="7" nzLabel="医疗保险"></nz-option>
              <nz-option nzValue="8" nzLabel="其他"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">转诊原因：</span>
            <nz-select nzMode="tags" style="width: 80%;" nzPlaceHolder="请选择转诊原因，多个转诊原因的情况下，请用分号（；）隔开！" [(ngModel)]="patientMedicalInfo.transferReason" [nzDisabled]="disabled">
              <nz-option *ngFor="let option of transferOptions" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">转诊目的：</span>
            <input nz-input placeholder="请输入病人转诊目的" [(ngModel)]="patientMedicalInfo.transferPurpose" style="width:80%" [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">主要既往史：</span>
            <input nz-input placeholder="请输入病人主要的既往史" [(ngModel)]="patientMedicalInfo.history" style="width:80%" [disabled]="disabled">
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="24">
            <span class="search_label">转诊目的及指征：</span>
            <nz-tree-select style="width: 80%" [nzNodes]="transferNodes" nzShowSearch nzPlaceHolder="选择转折目的及指征"
              [(ngModel)]="patientMedicalInfo.transferIndication" (ngModelChange)="onChange($event)" [nzDisabled]="disabled">
            </nz-tree-select>
          </div>
        </div>
      </fieldset>
    </section> -->

    <!-- 转出医疗机构信息 -->
    <!-- <section class="section">
      <fieldset>
        <legend>转出医疗机构信息</legend>
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="search_label">转出医院：</span>
            <input nz-input [(ngModel)]="outOrgInfo.hospital" style="width:60%">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">转出科室：</span>
            <nz-tree-select style="width: 70%" [nzNodes]="deptNodes" nzShowSearch [(ngModel)]="outOrgInfo.outDept"
              (ngModelChange)="onChange($event)">
            </nz-tree-select>
            <nz-select style="width:60%" [(ngModel)]="outOrgInfo.outDept">
              <nz-option nzValue="0" nzLabel="骨科"></nz-option>
              <nz-option nzValue="1" nzLabel="产科"></nz-option>
              <nz-option nzValue="2" nzLabel="妇科"></nz-option>
              <nz-option nzValue="3" nzLabel="妇产科"></nz-option>
              <nz-option nzValue="4" nzLabel="呼吸内科"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row style="margin-top:8px">
          <div nz-col nzSpan="12">
            <span class="search_label">转出医生：</span>
            <nz-select style="width:60%" [(ngModel)]="outOrgInfo.outDoctor">
              <nz-option nzValue="0" nzLabel="王主任"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">转出医院联系方式：</span>
            <input nz-input [(ngModel)]="outOrgInfo.phone" style="width:60%">
          </div>
        </div>
      </fieldset>
    </section> -->

    <!-- 转入医疗机构信息 -->
    <section class="section">
      <fieldset>
        <legend>患者待转入医疗机构信息</legend>
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="search_label required">＊方向：</span>
            <nz-radio-group [(ngModel)]="inOrgInfo.direction">
              <label nz-radio nzValue="0">向上转诊</label>
              <label nz-radio nzValue="1">平级转诊</label>
              <label nz-radio nzValue="2">向下转诊</label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">计划时间：</span>
            <nz-date-picker [(ngModel)]="inOrgInfo.date" (ngModelChange)="onChange($event)"></nz-date-picker>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="8">
            <span class="search_label required">＊医院：</span>
            <nz-select style="width:50%" [(ngModel)]="inOrgInfo.hospital">
              <nz-option nzValue="0" nzLabel="六塘中心卫生院"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="8">
            <span class="search_label">科室：</span>
            <nz-select style="width:50%" [(ngModel)]="inOrgInfo.inDept">
              <!-- <nz-option nzValue="0" nzLabel="骨科"></nz-option>
                <nz-option nzValue="1" nzLabel="产科"></nz-option> -->
              <nz-option nzValue="13409" nzLabel="妇保科"></nz-option>
              <!-- <nz-option nzValue="3" nzLabel="其他"></nz-option> -->
            </nz-select>
          </div>
          <div nz-col nzSpan="8">
              <span class="search_label">医生：</span>
              <nz-select style="width:50%" [(ngModel)]="inOrgInfo.inDoctor">
                <nz-option nzValue="lt502" nzLabel="靳爱军"></nz-option>
                <nz-option nzValue="lt509" nzLabel="文富英"></nz-option>
                <nz-option nzValue="lt518" nzLabel="龙小兰"></nz-option>
              </nz-select>
            </div>
        </div>
      </fieldset>
    </section>

    <!-- 转诊单详细信息 -->
    <!-- <section class="section">
      <fieldset>
        <legend>转诊单详细信息</legend>
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="search_label">健康档案号：</span>
            <input nz-input [(ngModel)]="transferDetail.docNo" style="width:60%">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">床号：</span>
            <input nz-input [(ngModel)]="transferDetail.bedNo" style="width:60%">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">转诊医生：</span>
            <input nz-input [(ngModel)]="transferDetail.outDoctor" style="width:60%">
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">接诊医生：</span>
            <input nz-input [(ngModel)]="transferDetail.inDoctor" style="width:60%">
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">转诊性质及部分：</span>
            <nz-select style="width:60%" [(ngModel)]="transferDetail.type">
              <nz-option nzValue="0" nzLabel="会诊"></nz-option>
              <nz-option nzValue="1" nzLabel="急诊"></nz-option>
              <nz-option nzValue="2" nzLabel="门诊"></nz-option>
              <nz-option nzValue="3" nzLabel="住院"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">复诊、随访形式及时间：</span>
            <textarea nz-input [nzAutosize]="{ minRows: 1, maxRows: 3 }" style="width:60%"></textarea>
          </div>
        </div>
        <div nz-row style="margin-top:8px;">
          <div nz-col nzSpan="12">
            <span class="search_label">病情摘要及处置情况：</span>
            <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 4 }" style="width:60%"></textarea>
          </div>
          <div nz-col nzSpan="12">
            <span class="search_label">治疗方案与管理建议：</span>
            <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 4 }" style="width:60%"></textarea>
          </div>
        </div>
      </fieldset>
    </section> -->

    <div style="text-align:center;margin-top: 10px;">
      <button nz-button nzType="primary" style="width:100px;" (click)="submit()">{{confirmText}}</button>
      <button nz-button nzType="default" style="width:100px;margin-left:20px" (click)="clear()">清空</button>
    </div>
  </div>
  <div style="position: absolute;top: 40%;left: 45%;" *ngIf="loading">
    <nz-spin nzSize='large' nzTip='保存数据中...'></nz-spin>
  </div>
</div>
